#page {
    margin: auto;
    max-width: 1000px;
    min-width: 600px;
    text-align: justify;
    font-family: Helvetica, Arial;
}
#mainpage {
    margin: auto;
    max-width: 1000px;
    min-width: 600px;
    text-align: justify;
    font-family: Helvetica, Arial;
}
#ulmenu{
    position: fixed;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #7DCEA0;
    min-width: 1000px;
}
#alammenu {
    position: relative;
    list-style-type: none;
    margin: auto;
    padding: 0px;
    max-width: 200px;
}
.menu {
    float: left;
}
.menu a {
    display: block;
    color: rgb(77, 0, 40);
    font-weight: bold;
    text-align: center;
    padding: 10px 74px;
    text-decoration: none;
}
.almenu a{
    color: rgb(77, 0, 40);
    font-weight: bold;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
li > ul {
    display: none;
}
.tootedmenu{
    list-style-type: none;
}
.tootepilt {
    position: relative;
    top: 50px;
    float: left;
    margin: 0 15px 15px 0;
    z-index: -1;
}

h1 {
    clear: both;
    color: rgb(77, 0, 40);
    font-weight: 800;
}
h3 {
    color: rgb(77, 0, 40);
}
.menu a:hover {
    background-color:  #8AB08A  ;
}
.homebackground{
    background-image: url("http://enos.itcollege.ee/~kinarusk/kodavere_voo2.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 150px;
    border-radius: 10px;

}
.hometext{
    position: relative;
    top: 100px;
    padding: 15px;
    color: white;
    font-size: 120%;
    background-color: rgba(51, 0, 26 ,0.8);
    border-radius: 25px;
}
.proverb{
    position: relative;
    top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    width: 500px;
    background-color: rgba(51, 0, 26 ,0.8);
    border-radius: 25px;
    text-align: left;
    color: white;
    font-family: Times, serif;
    font-style: italic;
    font-size: 150%;
    text-shadow: 2px 2px #1a000d;
}

table {
    position: relative;
    top: 150px;
    display: table;
    border-collapse: collapse;
    border-color: gray;
    margin: auto;
    z-index: -1;
}

/* Siit algab piltide lehe keskel kuvamine; kood: http://enos.itcollege.ee/~ttanav/VRI/Praktikumid/prax05/ylesanne.html */
#taust{ /* taust, mis peidab lehe sisu */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    z-index:5;
}
#tabel{ /* toob suure pildi esile ja määrab kuvamise ala tabelina */
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:0 auto;
    z-index: 10;
    display:table;
    width:100%;
    height:100%;
    color:white;
}
#cell{ /* paigutab pildi ja teksti vertikaalselt keskele nagu tabelivälja */
    display:table-cell;
    vertical-align:middle;
}
#sisu { /* teeb pildi ümbruse kitsamaks ja annab tausta */
    display: table;
    margin: auto;
    background: rgba(0,0,0,0.7);
    padding: 10px;
}
#sulge { /* sulgemise element */
    position: fixed;
    top: 0;
    right: 0;
    z-index: 15;
    padding:4px;
    font-weight: bold;
}
#hoidja {  /* ümbritseb kogu suure pildi elementide hulka 0px kõrgusena, et teised elemendid taga oleks kasutatavad*/
    height: 0px;
}

#footer {
    position: absolute;
    top: 670px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    color: rgba(102, 102, 102, 0.53);
    font-size: 14px;
}

#foot {
    margin: auto;
}

