div {
	margin: 15px;
	text-align: justify;
	font-family: Helvetica, Arial;
}
h1 {
    color: rgb(77, 0, 40);
    font-weight: 800;
}
h3 {
    color: rgb(77, 0, 40);
}
.header{
	display: inline;
}
body.esileheTaust{
	background-image: url("kodavere_voo2.jpg");
    background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: 150px;
	border-radius: 10px;
	
}
p.talupojaroivastus{
	padding: 15px;
	color: white;
	background-color: rgba(51, 0, 26 ,0.8);
	border-radius: 25px;
}
table {
    display: table;
    border-collapse: collapse;
    border-color: gray;
}
.tabel td{
    width: 25px;
	height: 25px;
}
.inner-pre{
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 500px;
	background-color: rgba(51, 0, 26 ,0.8);
	border-radius: 25px;
	text-align: left;
	color: white;
	font-family: Times, serif;
	font-style: italic;
	text-shadow: 2px 2px #1a000d;
}


	