

<div id="mainpage">
    <br>
    <h1 id="karinh1">Karin Otsuse käsitöö</h1>
    <h3>Siia lehele on koondatud Karin Otsuse, Räpina aianduskooli tekstiilitöö eriala õpetaja parimad kästitöö palad. </h3>

    <p class="hometext">
        Karin Otsus on kästitöö fanaatik, kelle leivanumbriks on kangastelgedel kootud rahvariiete mustrilised vööd ning süstikpits ehk frivolitee. Lisaks teeb Karin
        hoolsalt kootud kudumeid, nagu villased sokid, mütsid-salid-kindad, kampsunid jne. Aga see pole veel kõik, mõned aastad tagasi avastas ta enda jaoks ka
        Kanzashi lilled, millest saab teha väga ilusaid ehteid, näiteks peavõrusid või pandlaid.
    </p>
    <br>
			<p> <span class="proverb">

            Tõelist loovust ei suuda keegi valitseda, sel tuleb lasta minna oma teed.
                                                        (Johann Wolfgang Goethe,1749-1832)

			</span></p>

    <br>
 </div>

