<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Karini tooted</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="skript.js"> </script>

    <script>
        $(document).ready(function() {
            $(".menu").hover(function(){
                if ($("> ul", this).length > 0) {
                    $("> ul", this).show();
                }
            }, function(){
                if ($("> ul", this).length > 0) {
                    $("> ul", this).hide();
                }
            });
        });
    </script>

</head>
<body>
<div id="page">
    <ul id="ulmenu">
        <li class="menu"><a class="active" href="?mode=avaleht">Kodu</a></li>
        <li class="menu"><a href="?mode=tooted">Tooted</a>
            <ul id="alammenu">
                <li class="almenu"><a href="suurpilt/korvarongad1.jpg">Süstikpits</a></li>
                <li class="almenu"><a href="suurpilt/kindad1.jpg">Kindad</a></li>
                <li class="almenu"><a href="suurpilt/sokid1.jpg">Sokid</a></li>
                <li class="almenu"><a href="suurpilt/kangasteljed1.jpg">Kangastelje tööd</a></li>
                <li class="almenu"><a href="suurpilt/lilled1.jpg">Kanzashi lilled</a></li>
            </ul>
        </li>
        <li class="menu"><a href="?mode=hinnad">Hinnad</a></li>
        <li class="menu"><a href="http://www.rahvakultuur.ee/?v=183&i=643">Kontakt</a></li>
        <?php if(empty($_SESSION['user'])): ?>
            <li class="menu"><a href="?mode=login">Logi sisse</a></li>
        <?php else: ?>
            <li class="menu"><a href="?mode=logout">Logi välja</a></li>
        <?php endif; ?>
    </ul>
</div>


<?php if(!empty($_SESSION["teade"])): ?>
<p style = "color:deeppink"><?php echo $_SESSION["teade"]; ?></p>
<?php unset($_SESSION["teade"]); ?>
<?php endif; ?>