<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Karini tooted</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>

    <script>
        $(document).ready(function() {
            $("h1").on({
                mouseenter: function () {
                    $(this).css('text-shadow', '4px 4px  rgba(0, 0, 0, 0.19)');
                },
                mouseleave: function () {
                    $(this).css('text-shadow', '0px 0px #000000');
                },
            });
            $(".menu").hover(function(){
                if ($("> ul", this).length > 0) {
                    $("> ul", this).show();
                }
            }, function(){
                if ($("> ul", this).length > 0) {
                    $("> ul", this).hide();
                }
            });
            var quotes = ["Tõelist loovust ei suuda keegi valitseda, sel tuleb lasta minna oma teed. (Johann Wolfgang Goethe,1749-1832)",
                "Loov vaim mängib alati objektidega, mida ta armastab. (Carl Gustav Jung, 1875-1961)",
                "Mis on algupärasus? Avastamata plagiaat. (William Ralph Inge, 1860-1954)",
                "Hea vaataja on samuti looja. (Šveitsi vanasõna)",
                "Väljenduse isikupära on kogu kunsti algus ja lõpp. (Johann Wolfgang Goethe,1749-1832)",
                "Kriitika on kerge, kunst raske. (Philippe Destouches, 1680-1754)"];
            var quote = quotes[Math.floor(Math.random() * quotes.length)];
            function newquote() {
                $(".proverb").text(quote);
            }
            window.onload = newquote();
        });
    </script>

</head>
<body class = "homebackground">
<div id="page">
    <ul id="ulmenu">
        <li class="menu"><a class="active" href="?mode=avaleht">Kodu</a></li>
        <li class="menu"><a href="?mode=tooted">Tooted</a>
            <ul id="alammenu">
                <li class="almenu"><a href="suurpilt/korvarongad1.jpg">Süstikpits</a></li>
                <li class="almenu"><a href="suurpilt/kindad1.jpg">Kindad</a></li>
                <li class="almenu"><a href="suurpilt/sokid1.jpg">Sokid</a></li>
                <li class="almenu"><a href="suurpilt/kangasteljed1.jpg">Kangastelje tööd</a></li>
                <li class="almenu"><a href="suurpilt/lilled1.jpg">Kanzashi lilled</a></li>
            </ul>
        </li>
        <li class="menu"><a href="?mode=hinnad">Hinnad</a></li>
        <li class="menu"><a href="http://www.rahvakultuur.ee/?v=183&i=643">Kontakt</a></li>
        <?php if(empty($_SESSION['user'])): ?>
        <li class="menu"><a href="?mode=login">Logi sisse</a></li>
        <?php else: ?>
        <li class="menu"><a href="?mode=logout">Logi välja</a></li>
        <?php endif; ?>
    </ul>
</div>

<?php if(!empty($_SESSION["teade"])): ?>
<p style = "color:deeppink"><?php echo $_SESSION["teade"]; ?></p>
<?php unset($_SESSION["teade"]); ?>
<?php endif; ?>