
<h1 id="title">Logi sisse</h1>
<form action="?mode=login" method="POST">

        <p>Kasutajanimi</p>
        <input type="text" name="username" placeholder="kasutajanimi"
            value="<?php if (!empty($_POST['username'])) echo htmlspecialchars($_POST['username']);?>"/>
        <p>Parool</p>
        <input type="password" name="password" placeholder="Sisesta parool"/>
        <br/><br/>
        <input type="submit" value="Logi sisse"/>
</form>

<a href="?mode=register">Registreeri kasutajaks</a>

<?php if(!empty($errors)):
     foreach($errors as $e):?>
<p style="color:deeppink"><?php echo $e;?></p>
<?php endforeach;
endif;?>

