<h1 id="pealkiri">Registreeri kasutajaks</h1>
<form action="?mode=register" method="POST">
    <div id="register">
            <p>Kasutajanimi</p>
            <input type="text" name="username" placeholder="kasutajanimi"
                   value = "<?php if (!empty($_POST['username'])) echo htmlspecialchars($_POST['username']);?>" />

            <p>Parool</p>
            <input type="password" name="passwd" placeholder="parool"/>
            <p>Parool uuesti</p>
            <input type="password" name="passwd2" placeholder="parool uuesti"/>
            <br/><br/>
            <input type="submit" value="Registreeri"/>
    </div>
</form>

<?php if(!empty($errors)):
    foreach($errors as $e):?>
        <p style="color:deeppink"><?php echo $e; ?></p>
<?php endforeach;
endif;?>


