

<table border="1">
    <tr>
        <th>Toode</th><th>Hind</th><th>Kirjeldus</th>
    </tr>
    <tr>
        <td>Sall</td><td>50€</td><td>Mõõdud 50 cm x 80 cm; punase-sinise ruuduline</td>
    </tr>
    <tr>
        <td>Kindad</td><td>25€</td><td>Suurus M; kevadvärvides käpikud </td>
    </tr>
    <tr>
        <td>Kindad</td><td>30€</td><td>Suurus S</td>
    </tr>
    <tr>
        <td>Sokid</td><td>25€</td><td>Suurus L; tellisevärvi villased sokid</td>
    </tr>
</table>
<br>
<div id="message">
<form action="?mode=hinnad&id=<?php echo $id;?>" method="POST">

    <p>Saada Karinile teade:</p>
    <input type="text" name="title" placeholder="pealkiri"
           value="<?php if (!empty($post['title'])) echo htmlspecialchars($post['title']);?>"/><br/> <br/>
    <textarea name="content" rows="8" cols="48"><?php if (!empty($post['content'])) echo htmlspecialchars($post['content']);?></textarea><br/>

    <input type="submit" value="Saada"/>
</form>

<?php if(!empty($errors)):
	foreach($errors as $e):?>
<p style="color:red"><?php echo $e; ?></p>
<?php	endforeach;
endif;?>
</div>
