
    <div id="mainpage">
        <ul id = tootedmenu>
               <?php foreach($pildid as $var): ?>
                       <li>
                       <img class="tootepilt" src="<?php echo $var['big']; ?>" alt = "<?php echo $var['alt']; ?>" width = "318" height = "212"/>
                       </li>
               <?php endforeach; ?>
       </ul>
    </div>

   <div id="hoidja" style="display:none;">
       <div id="taust"></div>
       <div id="tabel">
           <div id="cell">
               <div id="sulge" onclick="hideDetails();">Sulge</div>
               <div id="sisu" onclick="showRandom();">
                   <img id="suurpilt" src="sokid1.jpg" alt="ajutine"/><br/>
                   <span id="inf"></span>
               </div>
           </div>
       </div>
   </div>
